@import url(global.css);

.main__inner {
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.contents-header {
  padding: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contents-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.contents-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contents-body {
  background: #fff;
  height: 80%;
  padding: 20px;
  overflow-y: scroll;
  border-radius: 5px;
}

.contents-body::-webkit-scrollbar {
  width: 10px;
}
.contents-body::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.contents-body::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.modify-btn {
  align-self: flex-end;
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
}