@import url(./global.css);

/* Topic */
.topic {
  padding: 30px 20px;
}

.topic-title {
  font-size: 32px;
  margin-bottom: 50px;
}

.topic-summary a {
  display: block;
  background: #999;
  margin-bottom: 30px;
  padding: 10px 20px;
  border-radius: 10px;
}

.topic-summary:last-child a {
  margin: 0
}

.topic-summary a div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.summary-title {
  font-size: 26px;
  font-weight: bold;
}

.summary-description {
  font-size: 22px;
}

/* User */
.user-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}